div{
    padding: 5px;
    width: 250px;
    height: 500px;
    border: 1px solid black;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    line-height: 13px;
  
}